__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# Python libs (but not web/src/lib)
/lib/
lib64/
!web/src/lib/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/
.pythonlibs/
*.pyc
.cache/
.local/

node_modules/
.next/
out/
*.tsbuildinfo
next-env.d.ts

*.db
*.sqlite
*.log
.DS_Store
Thumbs.db
